body {
    background-color: grey;
    font-family: 'Space Mono', monospace;
}

html, body {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
    font-family: 'Space Mono', monospace;
    z-index: 2;
}

header nav {
    padding-top: 10px;
    backdrop-filter: blur(0.5rem);
}

.navbar {
    background: hsl(0 0% 100% / 0.1);
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 300px;
}

#picture-of-the-day {
    width: 400px;
}

h1 {
    font-size: 35px;
    text-align: center;
    color:#fff;
}

#picture-of-the-day-container {
    border: 5px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.211);
    color: white;
}

#select-rover {
    border: 5px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.211);
}

#rover-img {
    width: 400px;
}

#rover-pictures {
    border: 5px solid black;
    margin: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.211);
}

.stars {
    background: #000 url(../images/stars.png) repeat top center;
    background-attachment: fixed;
    z-index: 0;
} 